* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 12px; 
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(135deg, #ff9a9e, #fad0c4);
    transition: background 0.5s ease;
  }
  
  .container {
    width: 90%;
    max-width: 40rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 100%;
    border-radius: 10px;
    padding: 4rem; 
    gap: 3rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease;
    animation: shadowAnimation 3s infinite ease-in-out;
  }
  
  h2 {
    font-size: 3rem; 
    color: rgb(180, 0, 0);
  }
  
  .input_cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
  }
  
  .input_cont input,
  .input_cont input:focus,
  .input_cont input:valid {
    border: none;
    border-bottom: 1px solid gray;
    display: block;
    background-color: transparent;
    outline: none;
    height: 35px; 
    padding-inline: 1rem;
  }
  
  .input_cont label {
    display: flex;
    position: absolute;
    top: 10px;
    cursor: text;
  }
  
  .input_cont label span {
    display: flex;
    transition: all 0.5s cubic-bezier(0.03, 1.43, 0.73, 1.36);
  }
  
  .input_cont input:focus + label span,
  .input_cont input:valid + label span {
    color: black;
    transform: translateY(-30px);
  }
  
  .btn {
    display: inline-block;
    width: 80%;
    margin-inline: auto;
    border-radius: 20px;
    background-color: rgb(180, 0, 0);
    color: white;
    border: none;
    outline: none;
    font-size: 1.8rem; 
    padding: 1.2rem 0; 
    cursor: pointer;
  }
  
  #register {
    font-size: 1.5rem; 
  }
  
  #register span {
    color: rgb(180, 0, 0);
    font-weight: bold;
    cursor: pointer;
  }
  
  @keyframes shadowAnimation {
    0% {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
    50% {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    }
    100% {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    }
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  
  @media (max-width: 480px) {
    .card {
      padding: 2rem;
    }
  
    h2 {
      font-size: 2.5rem;
    }
  
    .btn {
      font-size: 1.6rem;
    }
  }
  