* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #f5af19, #f12711);
    color: #fff;
}

/* Header */
header {
    position: relative;
    margin-bottom: 30px;
}

#header-title {
    font-size: 36px;
    background: linear-gradient(90deg, #f44336, #4caf50, #2196f3, #ffeb3b);
    background-size: 300%;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradientAnimation 5s ease infinite;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);

    padding: 0;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.timer-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

#timer {
    font-size: 48px;
    margin: 20px 0;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#start-btn {
    background-color: #4caf50;
    color: white;
}

#reset-btn {
    background-color: #f44336;
    color: white;
}

#session-type {
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
}

.work-session {
    color: #f44336;
}

.break-session {
    color: #4caf50;
}

/* RESPONSIVE DİZAYN */
@media (max-width: 768px) {
    #header-title {
        font-size: 28px;
    }

    #timer {
        font-size: 36px;
    }

    .controls button {
        font-size: 14px;
        padding: 8px 16px;
    }

    #session-type {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    #header-title {
        font-size: 24px;
    }

    #timer {
        font-size: 30px;
    }

    .controls button {
        font-size: 12px;
        padding: 6px 12px;
    }

    #session-type {
        font-size: 16px;
    }
}
